{{ template "header" . }}

package {{ .Package }}

{{- if .Imports.HasImports }}

import (
  "testing"
{{ imports .Imports }}
)
{{- end }}


{{- range .Functions.Scope "include-generics" . }}

func Test{{ .Name }}f(t *testing.T) {
{{- template "test-case" (testSetup . "format" "") }}
}
{{- end }}
