{{ template "header" . }}

package {{ .Package }}

{{- if .Imports.HasImports }}

import (
  "testing"
{{ imports .Imports }}
)
{{- end }}

{{- range .Functions.Scope "only-helpers" . }} 

func Test{{ .Name }}(t *testing.T) {
  {{- if (not .HasTest) }}
	t.Skip() // this function doesn't have tests yet
  {{- else }}
	// TODO
  {{- end }}
}
{{- end }}
