name: Dependabot auto-merge

permissions:
  contents: read

on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/auto-merge.yml@3b76d600efa8fc647675752e2e8f5a6fc8a5bc2a # v0.2.3
    secrets: inherit
