name: Dependabot auto-merge

permissions:
  contents: read

on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/auto-merge.yml@fc0b7d51fa6128079b88acdfe597a8e04495a607 # v0.2.4
    secrets: inherit
