name: Dependabot auto-merge

permissions:
  contents: read

on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/auto-merge.yml@0ceb71c8741f60e9f64e6dc7f9a02ba851bb1183 # v0.2.3
    secrets: inherit
