name: Dependabot auto-merge

permissions:
  contents: read

on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/auto-merge.yml@a94fc68a7e32794bbdc77ae00db80bd6567cb6f0 # v0.2.7
    secrets: inherit
