name: Dependabot auto-merge

permissions:
  contents: read

on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/auto-merge.yml@50a35d7a3dec2ab631ddc39b1307a8394fcc44c7 # v0.2.4
    secrets: inherit
