name: Dependabot auto-merge

permissions:
  contents: read

on:
  pull_request:

jobs:
  dependabot:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/auto-merge.yml@90bfb1c7a17a09ec30a28863c9619a4f7c2614f4 # v0.2.3
    secrets: inherit
