name: Bump Release

permissions:
  contents: read


on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: Type of bump (patch, minor, major)
        type: choice
        options:
        - patch
        - minor
        - major
        default: patch
        required: false
      tag-message-title:
        description: Tag message title to prepend to the release notes
        required: false
        type: string
      tag-message-body:
        description: |
          Tag message body to prepend to the release notes.
          (use "|" to replace end of line).
        required: false
        type: string

jobs:
  bump-release:
    permissions:
      contents: write
      pull-requests: write
    uses: go-openapi/ci-workflows/.github/workflows/bump-release-monorepo.yml@50a35d7a3dec2ab631ddc39b1307a8394fcc44c7 # v0.2.4
    with:
      bump-type: ${{ inputs.bump-type }}
      tag-message-title: ${{ inputs.tag-message-title }}
      tag-message-body: ${{ inputs.tag-message-body }}
    secrets: inherit
