name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@a1612628e089a3e56f27d1a7c3cbf3be5a47e0c0 # v0.2.3
    secrets: inherit
