name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@4bcac7e777c0a3e54a764f275fc171ba46e87e26 # v0.2.3
    secrets: inherit
