name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@8b33fd43a192e822252fbbfc7134fab8834e4baa # v0.2.3
    secrets: inherit
