name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@a710fd7be75f19408d0fe9dadacfbf92868a27db # v0.2.3
    secrets: inherit
