name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@2186bc48bc1da6d60a88bdd5da1f3dac0a379fd3 # v0.2.3
    secrets: inherit
