name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@0ceb71c8741f60e9f64e6dc7f9a02ba851bb1183 # v0.2.3
    secrets: inherit
