name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@3b76d600efa8fc647675752e2e8f5a6fc8a5bc2a # v0.2.3
    secrets: inherit
