name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test-monorepo.yml@18ef7ffe46b6cca833763a60541d3a64c8412991 # v0.2.3
    secrets: inherit
