name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@a94fc68a7e32794bbdc77ae00db80bd6567cb6f0 # v0.2.7
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
