name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@18ef7ffe46b6cca833763a60541d3a64c8412991 # v0.2.3
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
