name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@90bfb1c7a17a09ec30a28863c9619a4f7c2614f4 # v0.2.3
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
