name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@057c8455d283298809477f4b18e66ebfb6d64ac3 # v0.2.5
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
