name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@1e41afb05c673e24b8bdf80c9efd48ad332eeb23 # v0.2.3
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
