name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@8b33fd43a192e822252fbbfc7134fab8834e4baa # v0.2.3
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
