name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@fc0b7d51fa6128079b88acdfe597a8e04495a607 # v0.2.4
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
