name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@50a35d7a3dec2ab631ddc39b1307a8394fcc44c7 # v0.2.4
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
