name: Release on tag

permissions:
  contents: read

on:
  push:
    tags:
      - v[0-9]+*

jobs:
  gh-release:
    name: Create release
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/release.yml@4bcac7e777c0a3e54a764f275fc171ba46e87e26 # v0.2.3
    with:
      tag: ${{ github.ref_name }}
      is-monorepo: true
    secrets: inherit
